.chart-root{
    min-width: 80%;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:4rem;
}

.chart-root > .title{
    margin-bottom: 1rem;
}