.spinner-root{
    width: 95%;
    min-height:95%;
    border-radius: 50%;
    border-top:  solid .25rem #34186c;
    animation: 2s spin infinite linear;
}

@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }