.card-root{
    /* max-width: 10rem; */
    /* outline: 1px solid lightseagreen; */
    min-width: 4rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out .1s;
    position: relative;    
}

.card-root > .content{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-root  .content > .connector{
    width: 1px;
    height: 1rem;
    background: rgba(255, 255, 255, 0.18);;
    position: absolute;
    top:-1rem;
    z-index: -10;
}

.card-root > .content > .top{
    height: .3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.18);;
    border-left: 1px solid rgba(255, 255, 255, 0.18);;
    border-right: 1px solid rgba(255, 255, 255, 0.18);;
    width: 98%;
}

.card-root > .content > .bottom{
    height: .3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);;
    border-left: 1px solid rgba(255, 255, 255, 0.18);;
    border-right: 1px solid rgba(255, 255, 255, 0.18);;
    width: 98%;
}

.card-root > .content > .info{
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 .25rem;
    padding: .5rem .5rem;
    background-color: rgba(255, 255, 255, .01);

}


.card-root > .content > .info:hover{
    /* outline: 1px solid red; */
    background-color: rgba(255, 255, 255, .18);
}

.card-root > .content > .info > .avatar{
    border-radius: 50%;
    border:1px solid rgba(255, 255, 255, 0.18);;
    display: flex;
    width: 4rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background: rgba(255, 255, 255, .8);
    color: #2e1151;
    font-size: 1.7rem;
    letter-spacing: -.15rem;
    margin-top: .25rem;
    margin-bottom: .25rem;   
    transition: "background-color" .5 linear;
}


.card-root > .content > .info:hover > .avatar{
    background: rgba(255, 255, 255, 1);
    
}

.card-root > .content > .info > .secondary{
    font-size: .75rem;
    font-weight: 100;
    margin-top:.5rem ;
    margin-bottom:.5rem ;
}

.card-root > .content > .children{
    display: flex;
    flex-direction: row;
}

.card-root > .content > .proxy:hover{
    opacity: 1!important;
}


.card-root > .content > .proxy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2e1151;
    cursor:pointer;
    position: relative;
    width: 4rem;
    height:  4rem;
    align-self: flex-start;
    margin-top: 1rem;
}

.card-root  .proxy > .connector{
    width: 1px;
    height: 2.6rem;
    background: rgba(255, 255, 255, 0.18);
    position: absolute;
    top:-2rem;
    z-index: -10;
}

.card-root > .content > .proxy > .background{
    background: rgba(255, 255, 255, 1);
    transition: all  ease-in-out .1s;
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

.card-root > .content > .proxy > .plus { 
    position: absolute;
    opacity: 0;
    z-index: 100;
    font-size: 1.7rem;
    width: 2rem;
    height: 2rem; 
}

.card-root > .content > .proxy > .initials { 
    position: absolute;
    z-index: 100;
    /* font-size: 1.7rem; */
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-root > .content > .proxy:hover > .initials {
    opacity: 0;
}

.card-root > .content > .proxy:hover > .plus { 
    font-weight: bold;
    opacity: 1;
}

.card-root > .content > .proxy:hover > .background{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgba(255, 255, 255, 1);
}

.children > .card-root{
    margin: 1rem .25rem 2rem .25rem;
}
